.prevent {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    background-color: #e3e3e3;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    color: #233f7f;
}

.page-prevent-titles-title {
    font-family: "Poppins";
    font-weight: bolder;
    margin-top: 4%;
}

.page-prevent-titles-subtitle {
    font-family: "Poppins";
    font-size: calc(2em + 1vw);
    font-weight: bolder;
    margin-bottom: 2%;
}

.row-prevent {
    display: flex;
}

.col-prevent {
    display: flex;
    width: 35%;
    margin-left: 10%;
    margin-top: 1%
}

.card {
    background-color: #e3e3e3;
    border-style: none;
}

.card-image-icon {
    width: 60px;
    position: relative;
    margin-left: 30px;
    margin-top: 27px;
}

.card-image-hexagon {
    width: 120px;
    position: absolute;
}

.card-image:hover {
    transform: scale(1.2);
}

.card-text-title {
    font-family: "Poppins";
    font-weight: bolder;
    font-size: larger;
    color: #1b2a4e;
    margin-top: 40px;
}

.card-text-text {
    font-family: "Poppins";
    font-size: 13px;
    color: #1b2a4e;
}